@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
    font-family: "lalezar";
    src: url("../fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/iranyekan/Qs_Iranyekan.ttf");
}

.nav-parent{
    background : rgb(57, 238, 184);

}
nav{
    background : rgb(57, 238, 184);
    color : #fff !important;
}


.navbar-brand{
    font-family: 'Secular One', sans-serif;
    color : rgb(14, 134, 94) !important;
}

header{
    font-family: lalezar, sans-serif;
    padding : 100px 10px;
    background : orange;
    color : #fff;
}

.header-content{
    padding : 50px 1px !important;
}

.ab-btn{
    padding : 10px;
    font-family: "iranyekan";
    border-radius: 50px !important;
     color : #fff;
    background : rgb(28, 233, 147);
}
h1{
    font-size: 50px !important;

}

p{
    font-family: iranyekan , sans-serif;
}

h2{
    font-size : 40px;
    font-family: lalezar, sans-serif;
    color : rgb(119, 0, 255);
}


@media screen and (max-width : 278px){
    h1{
        font-size: 2rem !important;
    }
}