@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
    font-family: "lalezar";
    src: url("../fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/iranyekan/Qs_Iranyekan.ttf");
}

.nav-parent{
    background : rgb(57, 238, 184);

}
nav{
    background : rgb(57, 238, 184);
    color : #fff !important;
}


.navbar-brand{
    font-family: 'Secular One', sans-serif;
    color : rgb(14, 134, 94) !important;
}

header{
    font-family: lalezar, sans-serif;
    padding : 100px 10px;
    background : linear-gradient(purple, rgb(143, 6, 255));
    color : #fff;
}

.header-content{
    padding : 50px 1px !important;
}

.ab-btn{
    padding : 10px;
    font-family: "iranyekan";
    border-radius: 50px !important;
     color : #fff;
    background : rgb(28, 233, 147);
}
h1{
    font-size: 50px !important;

}

.employer-img{
    max-width : 50%;
}


p{
    font-family: iranyekan , sans-serif;
}

h2{
    font-size : 40px;
    font-family: lalezar, sans-serif;
    color : rgb(119, 0, 255);
}

h5{
    font-family: iranyekan, sans-serif;
    color :rgb(57, 238, 169);
}

input{
    width : 300px !important;
    outline : none;
}

textarea{
    outline : none;
}

.contact-btn{
    color : #fff;
    background :rgb(119, 0, 255)
}


.subscribe-btn{
    background :rgb(28, 233, 147);
    color : #fff;
}

@media screen and (max-width : 278px){
    h1{
        font-size: 2rem !important;
    }
}

@media screen and (max-width : 350px){
    input{
        width : 100% !important;
    }
    textarea{
        width : 100% !important;
    }
}